

.Footer {
  --height: #{$footer-height};
  // height: var(--height);
  margin-top: 80px;
  .info {
    // height: 346px;
    background-color: #437b7d;
    width: 100%;
    padding: 80px;

    .container {
      .divider-vertical {
        margin-left: 25px;
        margin-right: 25px;
        border-right: 1px solid #fff;
        height: 40px;
        opacity: 0.4;
      }
    }

    .container-text {
      //   margin-top: 50px;
      //   width: 60%;
      max-width: 900px;
      margin: 50px auto 0;

      .text {
        display: block;
        font-size: 16px;
        font-family: "Segoe UI";
        color: rgba(255, 255, 255, 0.7);
        margin-bottom: 24px;
      }
    }
  }

  .copyright {
    height: 44px;
    width: 100%;
    background-color: #52979a;
    padding: 12px;
    color: #fff;

    .container {
      .divider-vertical {
        margin-left: 25px;
        margin-right: 25px;
        border-right: 1px solid #fff;
        height: 22px;
        opacity: 0.4;
      }

      .bold {
        font-weight: bold;
      }
    }
  }
  .font-segoe {
    font-family: "Segoe UI";
  }
  .icon {
    img {
      width: 42px;
      height: 42px;
    }
  }
}
