

.DatePicker {
  .TextField {
    width: 100% !important;
  }
  &.error {
    .helper-text {
      position: absolute;
      color: $color-error;
      font-family: $font-family;
      font-weight: 400;
      font-size: 0.75rem;
      line-height: 1.66;
      letter-spacing: 0.03333em;
      text-align: left;
      margin-top: 3px;
      margin-right: 14px;
      margin-bottom: 0;
      margin-left: 14px;
    }
    fieldset {
      border-color: $color-error;
    }
  }
  .MuiSvgIcon-root {
    color: #a0a0a0;
  }
}
