$main-color: #14c1c2;
$text-color: #424242;
$btn-bg: #14c1c2;
$btn-bg-horver: #13a2a3;

$input-border: 1px solid #bdbdbd;
$input-border-radius: 6px;
$container: 1800px !default;
$container-width: 1800px !default;
$container-min-width: 1400px !default;
$container-min-product: 1600px !default;
$font-family: Mulish;
$main-color-bold: #52979a;

$header-height: 69px;
$main-color-light: #e7f8f8;
$footer-height: 390px;
$border-radius: 6px;
$color-error: #ff6d6f;
$input-height: 62px;
$label-color: #333333;
$padding-col: 15px;

$text-size: (
  14,
  16,
  18,
  20,
  22,
  24,
  26,
  28,
  36,
  30,
  32,
  34,
  36,
  38,
  42,
  50,
  70,
  80
);
$text-line-height: (
  16,
  18,
  28,
  22,
  24,
  26,
  28,
  30,
  36,
  32,
  34,
  36,
  38,
  40,
  52,
  60,
  70,
  100
);
$measure: (
  5,
  8,
  10,
  12,
  14,
  15,
  16,
  18,
  20,
  24,
  25,
  30,
  35,
  40,
  45,
  50,
  55,
  60,
  65,
  70,
  75,
  80,
  85,
  90,
  95,
  100,
  150
);
$color: (eefbfb, 52979a, e7f8f8, 666666, 5ad3d4, bdbdbd, 14c1c2, 333);
